@media (max-width: 540px) {
    .header__logo > p {
        font-size: 3.5rem;
        margin: 41px;
    }

}


@media (max-width: 769px) {

    body {
        margin: 0;
        overflow-x: hidden;
    }


    /* header */
    .header__nav {
        display: none;
    }

    /* Menu */
    .header__menu-button {
        display: block;
        margin: 26px 3% 36px auto;
    }

    .menu {
        display: block;
        margin-right: auto;
        position: fixed;
        width: 80%;
        height: 40%;
        z-index: 2;
        top: 122px;
        left: 10vw;
        right: 10vw;
        color: white;
        font-size: 30px;
    }

   

    .advantages__ol-item {
        padding-left: 60px;
    }
    /* main */
    .action-preparat__text {
        font-weight: normal;
        font-size: 4rem;
    }

    .action-preparat__ol {
        padding: 20px;
    }

    .action-preparat__item {
        padding-left: 80px;
        font-size: 1.8rem;

    }

    .action-preparat {
        display: block;
        font-size: 2.3rem;
    }


    li::before {
        width: 60px;
        height: 60px;
        font-weight: bold;
        font-size: 30px;

    }

    .advantages__text {
        font-size: 1.7rem;
    }

    .advantages__title {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .advantages__title::after {
        margin-top: 40px;
        padding-top: 70px;
        width: 45%;
    }
    .advantages__ol {
        font-size: 3rem;
    }

    .advantages__item>div {
        height: auto;
    }

    .advantages__item {
        width: auto;
        padding: 0px 10px 0px 10px;
    }
    .advantages {
        padding: 0px 10px 0px 10px;
        margin-top: 10px;
    }

    .u-list-ol li {
        margin-bottom: 70px;
    }

    #L1,
    #L2,
    #L3 {
        display: flex;
        justify-self: center;
        width: 90%;
        height: auto;
        margin-top: 10px;
    }

    .product-intro__image>img {
        display: flex;
        justify-self: center;
        align-items: center;
        width: 80vw;
        height: auto;
    }

    .product-intro__content {
        display: flex;
        justify-self: center;
        align-items: center;
        margin: 50px 0 0 0;
    }

    .product-intro__content p:first-child {
        font-size: 4rem;
        padding: 0px 25px 0px 25px;
        text-align: center;
    }

    .product-intro__content p:nth-child(2) {
        font-size: 2rem;
        text-align: center;
        padding: 0px 25px 0px 25px;
    }

    .section-title {
        padding: 0px 20px 0px 20px;
    }

    .product-intro {
        display: block;
    }

    .product-intro__content h1 {
        display: none;
    }

    .product-intro__button {
        display: none;
    }

    #skladniki {
        display: block;
    }

    .composition__list {
        padding: 0px 10px 0px 10px;
    }

    .composition__group--center {
        display: none;
    }


    /* Sector image */
    .dog {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
    }

    .dog__image {
        width: 100%;
    }


    #deco3 {
        display: none;
    }

    #pies {
        height: auto;
    }

    #g_l_2 {
        top: 140px;
        left: 130px;
    }

    #g_r_2 {
        top: 100px;
        right: 130px;
    }

    .bottle {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }


    .bottle__image {
        width: 100%;
        height: auto;
        position: relative;
        z-index: 1;
    }

    #g_l_1 {
        top: 250px;
        left: 40px;
        transform: rotate(-20deg);

    }

    #g_r_1 {
        top: 200px;
        right: 75px;
        transform: scaleX(-1) rotate(330deg);
    }

    /* end */

    .element * {
        font-size: 22px;
    }

    .element>img[src="./image/icons/biotech.svg"] {
        width: 90px;
        height: auto;
        margin-bottom: 20px;
    }

    .element>img {
        width: 76px;
        height: auto;
        margin-bottom: 20px;
    }

    #list_products {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 20px;
        justify-items: center;
    }

    #list_products>div {
        height: 220px;
        width: 220px;
        margin: 20px;
        flex: 0 0 calc(20% - 20px);
        flex-direction: column;
    }

    .product_item>img {
        width: 220px;
        height: 220px;
    }

    /* popup */
    .popup_content {
        width: 60%;
    }

    /*  */
    .products__controls {
        display: block;
        height: auto;
        max-width: 350px;
        width: 90%;
    }

    .products__label-text {
        margin: 20px 0 20px 0;
        font-size: 2.3rem;
    }

    .products__select {
        width: 100%;
        max-width: 350px;
        font-size: 30px
    }

    /* decorations */

    .advantages__image>img:first-child {
        /* position: absolute;
        width: 145px;
        height: auto;
        top: 630px;
        left: 98%; 
        transform: rotate(5deg);
        transform: translateX(190%); */
        display: none;
    }


    .advantages__image>img:last-child {
        position: absolute;
        width: 145px;
        top: 630px;
        right: 95%;
        transform: rotate(-120deg);
    }

    #deco1 {
        top: 1150px;
    }

    #deco2 {
        top: 1200px;
    }


    .u-text-center {
        font-weight: normal;
        font-size: 3.4rem;
    }

    .composition__text {
        font-size: 3.4rem;
    }

     .composition__subtitle {
        font-size: 1.8rem;
    }
    
    .composition__subtitle::after {
        position: absolute;
        margin-top: 105px;
        display: flex;
        content: "";
        width: 140px;
        border-bottom: 1px solid black;
    }
}

@media (min-width: 767px) {
    .products__controls {
        display: flex;
    }
}

@media (max-width: 1500px) {
    .header__nav {
        margin-right: 50px;
    }

    .advantages {
        display: block;
    }

    .inside {
        margin-left: auto;
        margin-right: auto;
    }

    #pies {
        width: 100%;
        margin-bottom: auto;
    }

    .product-intro__image {
        margin-left: auto;
        margin-right: auto;
    }
}

