
















/* for mobile */
#select_menu_but {
    display: none;
    z-index: 2;
    width: 75px;
    height: 75px;
}

#select_menu_but:hover {
    border-radius: 50%;
    box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.2);
}

.line_hor {
    width: 50px;
    height: 6px;
    background-color: #AD4844;
    margin: 9px 0 0 12px;
}

.line_hor:first-child {
    margin: 15px 0 0 12px;
}

.menu * {
    color: white
}

.menu {
    display: none;
    padding-top: 20px;
    height: 290px;
    width: 230px;
    background-color: #AD4844;
}


.menu > a {
    display: flex;
    margin: 20px 20px 46px 20px;
    justify-content: center;
}

.menu > a:hover {
    display: flex;
    justify-self: center;
    align-items: center;
    border-bottom: 1px solid white;
    padding: 0;
}

.background_menu {
    display: block;
    margin-right: auto;
    position: fixed; 
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.5);
}