.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 4;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup__content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 10px 10px 30px;
    width: 90%;
    max-width: 840px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
   
}

.popup__content * {
    font-size: 3rem;
}


#two_ele {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}

#two_ele > p {
    margin: 10px 0 0 0;
}

.popup__button-exit {
    cursor: pointer;
    all: unset;
    font-size: 3.4rem;
    text-align: center;
    width: 40px;
    height: 40px;
}

.popup__button-exit:hover {
    border-radius: 50%;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.3);
}