* {
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}


header * {
    display: inline-flex;
}

header {
    display: flex;
    height: 122px;
    width: auto;
    box-shadow: 0px 2px rgba(0, 0, 0, 0.5);
}



#logo p {
    position: absolute;
    display: inline-block;
    margin-left: 10%;
    margin-top: 42px;
    font-size: 30px;
    font-weight: bold;
}


nav {
    
    justify-self: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    font-size: 16px;
}

a:hover {
    padding-bottom: 9px;
    padding-top: 9px;
    border-bottom: 1px solid black;
}

/* ----------------------------- */


h1 {
    margin-top: 140px;
    margin-bottom: 20px;
    font-size: 80px;
}


#arthrohard {
    background-color: #F6F6F6;
    width: 100%;
    height: auto;
}

#arthrohard > div:first-child {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    align-items: center;
}
#arthrohard_img {
    /* aspect-ratio: 0.787; */
    width: 31vw;
    height: auto;
}

#buy_now {
    width: 170px;
    height: 35px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    background-color: #30AB4C;
}

#right_arhtrohard {
    margin-left: 150px;
}

#text > p {
    margin: 0;;
}

#text p:first-child {
    font-size: 38px;
}

#text p:nth-child(2) {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 16px;
}

/*  */

.text_center {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

.text_center::after {
    position: absolute;
    margin-top: 60px;
    display: flex;
    content: "";
    width: 200px;
     border-bottom: 1px solid black;
}

/*  */

#punkty {
    display: flex;
    flex-wrap: wrap;
    margin-top: 160px;
    justify-self: center;
    gap: 100px;
}

#punkty > div {
    height: 650px;
}

#punkty h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#punkty h2::after {
    position: absolute;
    margin-top: 85px;
    display: flex;
    content: "";
    width: 90px;
     border-bottom: 1px solid black;
}

#punkty p {
    text-align: center;
    margin-top: 40px;
}

#jedno::first-line {
    font-weight: bold;
}

/* OL ----------------------------------- */

ol {
    margin-top: 50px;
    list-style: none;
}

ol li {
    counter-increment: item;
    position: relative;
    padding-left: 40px;
    margin-bottom: 40px;
}

li::before {
    content: counter(item);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;


    font-size: 20px;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

#L1, #L2, #L3 {
    width: 360px;
    height: auto;
    aspect-ratio: 360 / 295;
    margin-top: 50px;
    position: relative;
    z-index: 1;
}

#L1::after {
    position: absolute;
    margin-top: 90px;
    display: flex;
    content: "";
    width: 360px;
    border-bottom: 1px solid black;
}

/*  */

#sklad {
    background-color: #FFFFFF;
}

.skladniki_srodek {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    font-size: 22px;
}

#skladniki {
    display: grid;
    justify-content: center;
    grid-template-columns: 450px 450px 450px;
    /* grid-template-columns: repeat(3, minmax(450px, 1fr)) */
}

#skladniki > div {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

#center_inside {
    display: grid;
}


.element {
    margin-top: 80px;
}

.naglowki_3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.naglowki_3::after {
    margin-top: 20px;
    display: flex;
    justify-self: center;
    align-items: center;
    content: "";
    width: 90px;
     border-bottom: 1px solid black;
}

.ilosc {
    margin-top: 20px;
}

#skladniki_img {
    position: relative;
    z-index: 1;
    width: 500px;
    height: auto;
}

#buy_now_2 {
    width: 170px;
    height: 45px;
    background-color: #AD4844;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
}

/*  */



#bottle {
    display: none;
}
/*  */

#content_js {
    position: relative;
    z-index: 2;
    padding-top: 80px;
    background-color: #F6F6F6;
    width: 100%;
    padding-bottom: 200px;
    height: auto;
}



#but_ilosc {
    margin-top: 20px;
    margin-bottom: 30px;
    justify-self: center; 
    width: 350px;
    height: 50px;
    border: 3px solid #AD4844;
}

#but_ilosc label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#but_ilosc select {
    border: none;
    height: 50px;
    width: 110px;
    margin-left: auto;
    background-color: #AD4844;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#but_ilosc_mobile {
    display: none;
}

/*  */

#list_products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#list_products > div {
    height: 350px;
    width: 350px;
    margin: 20px;
    flex: 0 0 calc(20% - 20px);
    flex-direction: column;
}

.product_item > img {
    width: 350px;
    height: 350px;
}

.action_preparat {
        display: none;
}

a:active, a:link, a:visited {
    color: inherit;
    text-decoration: none;
}

