* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    font-size: 62.5%;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}


.header {
    display: flex;
    position: sticky;
    background-color: #ffffff;
    z-index: 3;
    left: 0;
    top: 0;
    height: 122px;
    width: 100%;
}
/* .header::after {
    height: 1px;
    width: auto;
    box-shadow: 0px 9px 17px -13px rgb(0, 0, 0);
} */

.header::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;  /* тільки знизу */
    height: 122px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3); /* сама тінь */
    pointer-events: none; /* дуже важливо */
}

.header__logo p {
    position: absolute;
    display: inline-block;
    margin: 20px 0px 0px 10%;
    font-size: 6rem;
    font-weight: bold;
}

.header__logo--dark {
    color: #111111;
}

.header__logo--accent {
    color: #AD4844;
}

.header__nav {
    display: inline-flex;
    justify-self: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    font-size: 16px;
}

.header__link {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    font-size: 1.7rem;
}

.header__link:last-child {
    font-weight: bold;
}

.header__link:hover {
    padding-bottom: 9px;
    padding-top: 9px;
    border-bottom: 1px solid black;
}

/* ----------------------------- */

main {
    padding-top: 0px;
}

.product-intro__title {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 17rem;
}


.page-section {
    background-color: #F6F6F6;
    width: 100%;
    height: auto;
}

.product-intro {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    align-items: center;
    gap: 40px;
}


.product-intro__button {
    width: 170px;
    height: 45px;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    border: none;
    background-color: #30AB4C;
}

.product-intro__image>img {
    width: 600px;
    height: auto;
}

.product-intro__content {
    margin: 0px auto 0px auto;
    position: relative;
    z-index: 1;
}

.product-intro__text>p {
    margin: 0;
}

.product-intro__text p:first-child {
    font-size: 4.8rem;
    background: linear-gradient(90deg, #000000, #666666, #cccccc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.product-intro__text p:nth-child(2) {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 2rem;
}

/*  */
.section-title {
    position: sticky;
    z-index: 1;
    background: linear-gradient(91deg, #000000, #b7b7b7, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*  */

.u-text-center {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: bold;
}

.u-text-center::after {
    position: absolute;
    margin-top: 70px;
    display: flex;
    content: "";
    width: 200px;
    border-bottom: 1px solid black;
}


.advantages {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    margin-top: 160px;
    padding-bottom: 50px;
    gap: 125px;
    font-size: 4.5rem;
}

.advantages__item {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    width: 390px;
}

.advantages__ol {
    font-size: 3.6rem;
}

.advantages__item:hover {
    border-bottom: 1px solid black;
}

.advantages__title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: normal;
    font-size: 3.2rem;
}

.advantages__title::after {
    position: absolute;
    margin-top: 105px;
    display: flex;
    content: "";
    width: 90px;
    border-bottom: 1px solid black;
}

.advantages__image {
    margin-bottom: auto;
}

.advantages__text {
    text-align: center;
    margin-top: 40px;
}

.advantages__ol-item {
    padding-left: 60px;
}

.u-text-bold::first-line {
    font-weight: bold;
}

#L1,
#L2,
#L3 {
    width: 390px;
    height: auto;
    margin-top: 50px;
    position: relative;
    z-index: 1;
}

#L3 {
    margin-top: 30px;
}

/* OL ----------------------------------- */

.u-list-ol {
    margin-top: 50px;
    list-style: none;
}

.u-list-ol li {
    counter-increment: item;
    position: relative;
    /* padding-left: 60px; */
    margin-bottom: 40px;
}

.u-list-ol li::before {
    content: counter(item);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.3);

    display: flex;
    justify-content: center;
    align-items: center;


    font-size: 2.2rem;
    font-weight: bold;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */



/* Composition */

#composition {
    background-color: #FFFFFF;
}

.composition__text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    font-size: 5rem;
    background: linear-gradient(90deg, #1a1a1a 0%,#4a4a4a 40%, #8a8a8a 70%,#b8b8b8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.composition__subtitle {
    margin-top: 60px;
    font-size: 2.5rem;
}

.composition__subtitle::after {
    display: none;
}


.composition__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    text-align: center;
    font-size: 6.7rem;
}

.composition__item {
    margin-top: 80px;
}

.composition__item-title {
    margin-top: 20px;
    margin-bottom: 10px;
}

.composition__item-title::after {
    margin-top: 20px;
    display: block;
    justify-self: center;
    align-items: center;
    content: "";
    width: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.composition__item:hover .composition__item-title::after {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.bottle {
    display: none;
}

#skladniki_img {
    position: relative;
    z-index: 1;
    width: 500px;
    height: auto;
}

.composition__button-buy {
    width: 170px;
    height: 45px;
    background-color: #AD4844;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
}

/* ------- */





/*  */

.products {
    position: relative;
    z-index: 2;
    padding-top: 80px;
    background-color: #F6F6F6;
    width: 100%;
    padding-bottom: 200px;
    height: auto;
}



.products__controls {
    margin-top: 20px;
    margin-bottom: 30px;
    justify-self: center;
    width: 350px;
    height: 50px;
    border: 1px solid #AD4844;
}

.products__label-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    padding-left: 10px;
    font-size: 2.6rem;
}

.products__select {
    border: none;
    width: 110px;
    margin-left: auto;
    background-color: #AD4844;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

/*  */

#list_products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    gap: 40px;
    justify-items: center;
    justify-content: center;
    padding: 40px;
}

#list_products>div {
    height: 350px;
    width: 350px;
    margin: 20px;
    flex: 0 0 calc(20% - 20px);
    flex-direction: column;
}

.product_item>img {
    width: 350px;
    height: 350px;
    background-color: #BEBEBE;
}

.action-preparat {
    display: none;
}

a:active,
a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

#end {
    height: 1px;
}